# Make vim the default editor
export EDITOR="vim";
export REACT_EDITOR="code";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# http://docs.python-guide.org/en/latest/writing/gotchas/#disabling-bytecode-pyc-files
PYTHONDONTWRITEBYTECODE=1

# Runtimes
# ========

# This loads nvm.
export NVM_DIR="/Users/tcolas/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# Android SDK for React Native.
export ANDROID_HOME=/usr/local/opt/android-sdk

# Load RVM into a shell session *as a function*
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

# Load .NET stack
# source dnvm.sh
# export MONO_MANAGED_WATCHER=disabled

# Rbenv
eval "$(rbenv init -)"

# added by travis gem
[ -f /Users/tcolas/.travis/travis.sh ] && source /Users/tcolas/.travis/travis.sh

# Add pyenv init to your shell to enable shims and autocompletion
eval "$(pyenv init -)"

export CFLAGS="-I$(brew --prefix openssl)/include";
export LDFLAGS="-L$(brew --prefix openssl)/lib";

# Initialise opam
. /Users/tcolas/.opam/opam-init/init.zsh > /dev/null 2> /dev/null || true

[ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh

# added by travis gem
[ -f /Users/tcolas/.travis/travis.sh ] && source /Users/tcolas/.travis/travis.sh
