"*":
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
    fontFamily: "Source Code Pro"
    softTabs: false
    fontSize: 15
  core:
    themes: [
      "atom-dark-ui"
      "monokai-extended"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/will/Playground"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".tmp"
      "node_modules"
      "bower_components"
    ]
    disabledPackages: [
      "metrics"
      "linter-bootlint"
      "exception-reporting"
    ]
  "exception-reporting": {}
  welcome:
    showOnStartup: false
  metrics: {}
  linter:
    statusBar: "Show error of the selected line"
  "markdown-preview": {}
  "highlight-line": {}
  "autocomplete-plus":
    autoActivationDelay: 200
    maxSuggestions: 5
    confirmCompletion: "enter"
    fileBlacklist: [
      "*.md"
    ]
  minimap: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "css-comb":
    config: "custom"
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
  jsformat:
    format_on_save: false
  "remember-session":
    path: "/Users/will/Projects/thibaudcolas"
    x: 223
    y: 22
    tabs: "/Users/will/Projects/thibaudcolas/app/styles/partials/_fira-font.scss&&/Users/will/Projects/thibaudcolas/.bowerrc&&/Users/will/Projects/thibaudcolas/gulpfile.js&&/Users/will/Projects/thibaudcolas/package.json"
    selectedTab: ""
    width: 683
    height: 742
    treeWidth: 200
  "linter-jshint": {}
  "linter-bootlint": {}
  "tree-view": {}
  "highlight-column": {}
".ini.source":
  editor:
    showInvisibles: false
