{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },

  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },

  "rules": {
    // Strict mode
    "strict": [2, "global"],

    // Code style
    "indent": [2, 2],
    "quotes": [2, "single"]
  }
}
